*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #03045e;
    display: flex;
    flex-direction: column;

}

img{
    width: 400px;
}

header{
    margin-bottom: 50px;
    padding: 20px 0 25px 0;
    background-color: #00b4d8;

}

header > nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav > button{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 142);
    background-color: #90e0ef;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
}

#content{
    background-color: #00b4d8;
    border-radius: 25px;
    padding: 50px;
    margin: 0 200px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 810px;
    gap: 20px;
}

#desc-para-container > p > span{
    font-weight: bold;
    font-size: 20px;
}

#content > div{
    font-size: 18px;
    border: 10px solid #03045e;
    border-radius: 25px;
    padding: 20px 50px;
    background-color: #0077b6;
    height: 225px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content > .menu-div{
    width: 600px;
    height: 700px;
    gap: 10px;
}

.menu-div > img{
    width: 300px;
    align-self: end;
    border-radius: 25px;
}

.menu-div > p:nth-child(3){
    align-self: start;
    font-weight: bold;
    font-size: 30px;
}


h1{
    margin-bottom: 20px;
    font-size: 50px;
}

h2{
    align-self: flex-start;
}

ul{
    list-style-type: none;
}